

<div class="wrapper">
  <header>
    <div align="left">
      <img src="images/madalsa.jpeg" height="250" width="250">
    </div>
      <div align="left">
      </div>


    <h1>Madalsa Singh</h1>
    <p style="color:#6f777d;font-weight:bold">Assistant Professor, Golisano Institute of Sustainability, Rochester Institute of Technology </p>


    <p> I study carbon-constrained energy systems, with an emphasis on transport and electricity sectors. My research develops place-based, equitable, and affordable strategies to rapidly reduce air emissions from energy use. </p>

<p>Previously, I was a postdoctoral research fellow at the University of California Santa Barbara, and I received my PhD from Stanford University. 
</p>

   

    <hr width="100%">

    <a href="/cv/CV_Madalsa.pdf">Curriculum Vitae</a>  


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/madalsa" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/citations?user=xzgLIO8AAAAJ&hl=en" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
    </div>
      mksgis@rit.edu | madalsa100@gmail.com

  </header>
</div>
