

<div class="wrapper">
  <header>
    <div align="left">
      <img src="images/madalsa.jpeg" height="250" width="250">
    </div>
      <div align="left">
      </div>


    <h1>Madalsa Singh</h1>
    <p style="color:#6f777d;font-weight:bold">Postdoctoral Research Fellow, University of California Santa Barbara
    <br style="color:#6f777d;font-weight:bold">PhD, Stanford University </p>


    <p> I study carbon-constrained energy systems with an emphasis on transportation, residential, and electricity sectors. I investigate place-based, equitable, and affordable strategies to:
 <br>- Reduce air emissions from energy use
<br>- Promote widespread adoption of clean energy technologies
<br>- Integrate distributed energy resources into power grids
<br>- Facilitate the phaseout of fossil stock
</p>

    <p style="color:#6f777d;font-weight:bold"> On the job market</p>

    <hr width="100%">

    <a href="/cv/CV_Madalsa.pdf">Curriculum Vitae</a>  


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/madalsa" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a href="https://scholar.google.com/citations?user=xzgLIO8AAAAJ&hl=en" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
    </div>
      madalsa@ucsb.edu | madalsa100@gmail.com

  </header>
</div>
